@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0px;
    background-color: #000000;
    overflow-x: hidden;
}

.header {
    animation: fadeIn;
    animation-duration: 1s;
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
    box-shadow: #fff;
}

.header a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.button {
    font-size: 12pt;
    color: white;
    background: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid white;
    margin: 20px;
    position: relative;
    letter-spacing: 1px;
    outline: none;
    transition: all 0.3s ease-in-out;

}

.button:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #000000;
    border: 3px solid white;
    transform: rotate(45deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: -12px;
    left: -13px;

}

.button:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #000000;
    border: 3px solid white;
    transform: rotate(-132deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: auto;
    right: -13px;
    bottom: -12px;

}

.button:hover {
    background-color: white;
    transition: all 0.3s ease-in-out;
    color: #000000;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    align-items: center;
    float: right;
    text-shadow: 0 0 5px white;
}

.hover {
    text-decoration: none;
    padding: 5px 0;
    line-height: 1;
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #ffffff, #d0d0d0 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
}

.hover:before {
    content: "";
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
}

.hover:hover {
    background-position: 0%;
}

.hover:hover:before {
    width: 100%;
}

.header-right a {
    margin-left: 50px;
}

.header img {
    float: left;
    width: 200px;
    height: 100px;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 60px;
    top: -15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before img {
    width: 100%;
    height: auto;
  }

input:checked+.slider {
    background-color: #707070;
}

input:focus+.slider {
    box-shadow: 0 0 1px #707070;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateY(-26px);
    transform: translateY(-26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round img {
    width: 34px;
    height: 34px;
    border-radius: 50%;

}

.slider.round:before {
    border-radius: 50%;
}

.cycle-photo img {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5) rgba(0,0,0,1), rgba(0,0,0,0));
    width: 100%;
    animation: fadeIn;
    animation-duration: 2s;
    object-fit: contain;

}

.InfoPic {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    padding-top: 0px;
}

.InfoPic img {
    width: auto;
    height: 290px;
    border-radius: 30px;
}

.InfoPic-1 {
    animation: backInLeft;
    animation-duration: 2s;
    border: 2px solid white;
    border-radius: 30px;
}

.InfoPic-2 {
    margin-left: 40px;
    margin-right: 40px;
    animation: backInUp;
    animation-duration: 2s;
    border: 2px solid white;
    border-radius: 30px;
}

.InfoPic-3 {
    animation: backInRight;
    animation-duration: 2s;
    border: 2px solid white;
    border-radius: 30px;
}

.InfoPic p {
    color: white;
    width: fit-content;
    text-align: left;
    padding: 10px;
}

.InfoPic h3 {
    color: white;
    width: fit-content;
    text-align: left;
    padding: 10px;
}

.History .titles {
    padding-top: 200px;
    display: flex;
    color: white;
    background-color: #000000;
    font-size: 20px;
    justify-content: space-around;
}

.History p {
    background-color: #000000;
    color: white;
}

.text-history {
    display: flex;
    margin: 10px;

}

.text-history p {
    font-size: 12pt;
    color: white;
    background: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid white;
    margin: 20px;
    position: relative;
    letter-spacing: 1px;
    outline: none;
    transition: all 0.3s ease-in-out;

}

.text-history p:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #000000;
    border: 3px solid white;
    transform: rotate(45deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: -12px;
    left: -13px;

}

.text-history p:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #000000;
    border: 3px solid white;
    transform: rotate(-132deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: auto;
    right: -13px;
    bottom: -12px;

}

.reviews {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.review {
    position: relative;
}

.review p {
    font-size: 12pt;
    color: white;
    background: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid white;
    margin: 20px;
    margin-top: 0px;
    position: relative;
    letter-spacing: 1px;
    outline: none;
    transition: all 0.3s ease-in-out;

}

.review p:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #000000;
    border: 3px solid white;
    border-radius: 10px;
    transform: rotate(45deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: -12px;
    left: -13px;

}

.review p:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #000000;
    border: 3px solid white;
    transform: rotate(-132deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: auto;
    right: -13px;
    bottom: -12px;

}

.review-2 p {
    font-size: 12pt;
    color: white;
    background: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid white;
    margin: 20px;
    margin-top: 0px;
    position: relative;
    letter-spacing: 1px;
    outline: none;
    transition: all 0.3s ease-in-out;

}


.review h3 {

    padding-left: 50px;
}

.review-2 p:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #000000;
    border: 3px solid white;
    transform: rotate(45deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: -12px;
    left: -13px;

}

.review-2 p:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #000000;
    border: 3px solid white;
    transform: rotate(-132deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: auto;
    right: -13px;
    bottom: -12px;

}

.review-2 h3 {

    padding-left: 50px;
}

.personIcon {
    width: 50px;
    padding-left: 20px;
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: -17px;
    left: -28px;

}


.Geschiedenis {
    width: 50%;
}

.what-to-do {
    width: 50%;
}

.footer {
    color: white;
    position: relative;
    text-shadow: 1px 1px 2px blue, 0 0 1em rgb(148, 148, 148), 0 0 0.2em rgb(163, 163, 163);
}

.information-contact {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Contact {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}


.Contact h1 {
    padding-left: 30px;
}

.footer img {
    width: 100%;
}